/.idea/
/.settings/
/.classpath
/.project
/target/
/myosotis.iml

/assembly/.classpath
/assembly/.project
/assembly/.settings/
/assembly/target/
/assembly/assembly.iml

/myosotis-client/.classpath
/myosotis-client/.project
/myosotis-client/.settings/
/myosotis-client/target/
/myosotis-client/myosotis-client.iml

/myosotis-common/.classpath
/myosotis-common/.project
/myosotis-common/.settings/
/myosotis-common/target/
/myosotis-common/myosotis-common.iml

/myosotis-console/.classpath
/myosotis-console/.project
/myosotis-console/.settings/
/myosotis-console/target/
/myosotis-console/myosotis-console.iml

/myosotis-infra/.classpath
/myosotis-infra/.project
/myosotis-infra/.settings/
/myosotis-infra/target/
/myosotis-infra/myosotis-infra.iml

/myosotis-server/.classpath
/myosotis-server/.project
/myosotis-server/.settings/
/myosotis-server/target/
/myosotis-server/myosotis-server.iml

/myosotis-spring/.classpath
/myosotis-spring/.project
/myosotis-spring/.settings/
/myosotis-spring/target/
/myosotis-spring/myosotis-spring.iml

/myosotis-spring-boot-starter/.classpath
/myosotis-spring-boot-starter/.project
/myosotis-spring-boot-starter/.settings/
/myosotis-spring-boot-starter/target/
/myosotis-spring-boot-starter/myosotis-spring-boot-starter.iml

/myosotis-test/.classpath
/myosotis-test/.project
/myosotis-test/.settings/
/myosotis-test/target/
/myosotis-test/myosotis-test.iml