body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: white;
    font-family: "Microsoft Yahei", "PingFang SC", sans-serif;
    font-size: 15px;
    color: #555555;
}

div {
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei", "PingFang SC", sans-serif;
    overflow: hidden;
    box-sizing: border-box;
    cursor: default;
}

th {
    font-weight: normal;
    text-align: left;
    height: 30px;
    cursor: default;
}

tr {
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

td {
    cursor: default;
}

a {
    color: inherit;
    text-decoration: none;
    font-family: "Microsoft Yahei", "PingFang SC", sans-serif;
    cursor: pointer;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

button {
    width: 80px;
    height: 30px;
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei", "PingFang SC", sans-serif;
    box-sizing: border-box;
    background-color: cornflowerblue;
    border: rgba(211, 211, 211, 0.2) solid 1px;
    border-radius: 1px;
    color: white;
    cursor: pointer;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

button:hover {
    background-color: dodgerblue;
}

button:active {
    color: #555555;
    background-color: aliceblue;
}

textarea {
    color: #555555;
    resize: none;
    font-family: "Microsoft Yahei", "PingFang SC", sans-serif;
    font-size: 15px;
    border-radius: 3px;
    border: lightgray solid 1px;
    box-sizing: border-box;
}

textarea:hover {
    border: darkgray solid 1px;
    background-color: ghostwhite;
}

textarea::placeholder {
    color: darkgray;
    font-size: 12px;
}

input {
    color: #555555;
    font-size: 15px;
    font-family: "Microsoft Yahei", "PingFang SC", sans-serif;
    border-radius: 3px;
    border: lightgray solid 1px;
    box-sizing: border-box;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}

input:hover {
    border: darkgray solid 1px;
    background-color: ghostwhite;
}

input::placeholder {
    color: darkgray;
    font-size: 12px;
}

.container {
    width: 100%;
    height: 100%;
}

.content_container {
    width: 100%;
    padding-right: 20px;
}