<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhzdys.myosotis.database.mapper.MyosotisNamespaceMapper">
    <resultMap id="BaseResultMap" type="com.yhzdys.myosotis.database.object.MyosotisNamespaceDO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="namespace" column="namespace" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, namespace, description
    </sql>

    <sql id="Table_Name">
        myosotis_namespace
    </sql>

    <select id="count" parameterType="java.lang.String" resultType="java.lang.Long">
        select count(*)
        from
        <include refid="Table_Name"/>
        where 1=1
        <if test="namespaces != null">
            and namespace in
            <foreach collection="namespaces" open="(" close=")" separator="," item="namespace">
                #{namespace,jdbcType=VARCHAR}
            </foreach>
        </if>
        <if test="keyword != null">
            and namespace like concat("%", #{keyword,jdbcType=VARCHAR}, "%")
        </if>
    </select>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"/>
        where 1=1
        <if test="namespaces != null">
            and namespace in
            <foreach collection="namespaces" open="(" close=")" separator="," item="namespace">
                #{namespace,jdbcType=VARCHAR}
            </foreach>
        </if>
        <if test="keyword != null">
            and namespace like concat("%", #{keyword,jdbcType=VARCHAR}, "%")
        </if>
        limit #{offset,jdbcType=INTEGER}, #{length,jdbcType=INTEGER}
    </select>

    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"/>
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectByNamespace" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="Table_Name"/>
        where namespace = #{namespace,jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="com.yhzdys.myosotis.database.object.MyosotisConfigDO" useGeneratedKeys="true"
            keyColumn="id" keyProperty="id">
        insert into
        <include refid="Table_Name"/>
        (namespace, description, create_time, update_time)
        values
        (#{namespace,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <update id="update" parameterType="com.yhzdys.myosotis.database.object.MyosotisConfigDO">
        update
        <include refid="Table_Name"/>
        set
        description = #{description,jdbcType=VARCHAR},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        delete from
        <include refid="Table_Name"/>
        where id = #{id,jdbcType=BIGINT}
    </delete>

</mapper>
